main {
    max-width: 60ch;
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
}

.doc summary {
    font-weight: bold;
}

.doc summary::before {
    content: "ℹ️ "
}

.doc h2 {
    font-size: 1em;
}

.doc details {
    background-color: #bce3fe;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

form label {
    display: block;
}

form details p {
    margin: 0.5em 0;
}

form summary {
    color: #606060
}

form div.input {
    margin-bottom: 1.5rem;
}

form details>div {
    margin-left: 1rem;
    border-left: 1px solid #606060;
    padding-left: 1rem;
}

form input,
form textarea {
    width: 100%;
    border-color: #B0B0B0;
    border-width: 1px;
    border-top: none;
    border-right: none;
}

button[type=submit],
button.next {
    background-color: #bce3fe;
}

button.previous {
    background-color: white;
}

button {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: #606060;
    cursor: pointer;
}

button[type=submit]:disabled,
button.next:disabled {
    background-color: #D0D0D0;
    cursor: not-allowed;
    text-decoration: line-through;
}

div.input.submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section[data-page] {
    display: none;
}

[data-current-step="1"] section[data-page="1"],
[data-current-step="2"] section[data-page="2"],
[data-current-step="3"] section[data-page="3"],
[data-current-step="4"] section[data-page="4"] {
    display: block;
}