Pré-requis
==========

# `ssss-split` (pour le déchiffrement)
Version: 0.5
Source: http://point-at-infinity.org/ssss/
Linux: https://packages.debian.org/source/sid/ssss
Mac: https://formulae.brew.sh/formula/ssss

# `ssss-combine` (pour le chiffrement)
Version: 0.5
Source: http://point-at-infinity.org/ssss/
Linux: https://packages.debian.org/source/sid/ssss
Mac: https://formulae.brew.sh/formula/ssss

# `openssl` 
Version: 3.3.0
Source: https://www.openssl.org/
Debian: https://packages.debian.org/openssl
Mac: https://formulae.brew.sh/formula/openssl@3
